// Navigation code here

.navigation {
    .flex(column, center, center);
    background-color: @nav-bg;

    h1 {
        padding-top: 1rem;
    }

    nav {
        padding: 2rem 0;

        a {
            .nav-link;
        }
    }
}
